Repository donoghuc/bolt, changes with the owners that CODEOWNERS names for each.
All owners: @puppetlabs/bolt, @cwcowellshah, @K8med, @puppetlabs/skeletor

CODEOWNERS:

# Default to Bolt team
* @puppetlabs/bolt

/documentation @cwcowellshah @K8med @puppetlabs/bolt
/lib/bolt_server @puppetlabs/skeletor
CHANGELOG.md @cwcowellshah @K8med @puppetlabs/bolt

(GH-1294) Use the puppet_agent module instead of a built in plugin.
  CHANGELOG.md
  Puppetfile
  acceptance/setup/common/pre-suite/071_install_modules.rb
  bolt-modules/boltlib/lib/puppet/functions/apply_prep.rb
  bolt-modules/boltlib/spec/functions/apply_prep_spec.rb
  documentation/bolt_configuration_options.md
  lib/bolt/config.rb
  lib/bolt/plugin/task.rb
  spec/fixtures/plugin_modules/error_plugin/bolt_plugin.json
  spec/integration/apply_spec.rb
  spec/integration/plugin/module_spec.rb
  spec/integration/plugin/task_spec.rb
  spec/lib/bolt_spec/conn.rb
Owners: @cwcowellshah, @K8med, @puppetlabs/bolt

(GH-1377) Add project migrate command
  CHANGELOG.md
  lib/bolt/bolt_option_parser.rb
  lib/bolt/cli.rb
  spec/bolt/cli_spec.rb
Owners: @cwcowellshah, @K8med, @puppetlabs/bolt

(GH-1377) Add yaml plugin
  Puppetfile
  documentation/using_plugins.md
  documentation/writing_plugins.md
Owners: @puppetlabs/bolt, @cwcowellshah, @K8med

(maint) Pin winrm-fs in OSX component acceptance tests
  Gemfile
  acceptance/setup/common/pre-suite/010_install_ruby.rb
  lib/bolt/analytics.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 255.0.16-test
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 255.0.21-test
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 255.0.22-test
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 255.0.23-test
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 255.0.30-test
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 999.99.0
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 999.99.1
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

testing rando commit
  lib/bolt/util.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 999.99.3
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 999.99.4
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

999.99.5
  lib/bolt/util.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 999.99.5
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

999.99.6
  lib/bolt/util.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 999.99.6
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

999.99.7
  lib/bolt/util.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 999.99.7
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

999.99.8
  lib/bolt/util.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 999.99.8
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

999.99.9
  lib/bolt/util.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 999.99.9
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

999.99.10
  lib/bolt/util.rb
Owners: @puppetlabs/bolt

(GEM) update bolt version to 999.99.10
  lib/bolt/version.rb
Owners: @puppetlabs/bolt

(PE-28209) WIP Rough outline for apply in bolt-server
  Dockerfile.bolt-server
  config/docker.conf
  developer-docs/bolt-api-servers.md
  lib/bolt/applicator.rb
  lib/bolt_server/config.rb
  lib/bolt_server/file_mutex.rb
  lib/bolt_server/fork_util.rb
  lib/bolt_server/plugin_cache.rb
  lib/bolt_server/plugin_threadsafety.rb
  lib/bolt_server/puppet_util.rb
  lib/bolt_server/transport_app.rb
  libexec/bolt_server_apply.rb
  scripts/server_client.rb
  spec/Dockerfile.puppetserver
  spec/docker-compose.yml
  spec/lib/bolt_spec/bolt_server.rb
Owners: @puppetlabs/bolt, @puppetlabs/skeletor

foo
  bolt.gemspec
Owners: @puppetlabs/bolt

test
  lib/bolt_server/transport_app.rb
Owners: @puppetlabs/skeletor

(maint) f
  lib/bolt/fiber_executor.rb
  lib/bolt_spec/plans/mock_executor.rb
Owners: @puppetlabs/bolt

pin r10k temp
  bolt.gemspec
Owners: @puppetlabs/bolt

(maint) Update resolver spec
  spec/integration/module_installer/resolver_spec.rb
Owners: @puppetlabs/bolt
